<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Question Details</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Review the question and its properties.</p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Question</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @question.text %></dd>
        </div>
        <!-- Options Form -->
        <div class="bg-white px-4 py-5 sm:p-6">
          <%= form_with model: Answer.new, url: answers_path, local: true do |form| %>
            <fieldset>
              <legend class="text-sm font-medium text-gray-700">Options</legend>
              <div class="mt-4 space-y-4">
                <% @question.options.each_with_index do |option, index| %>
                  <div class="flex items-center">
                    <%= form.radio_button :selected_option, option, id: "option_#{index}", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" %>
                    <%= form.label :selected_option, option, value: option, class: "ml-3 block text-sm font-medium text-gray-700", for: "option_#{index}" %>
                  </div>
                <% end %>
              </div>
            </fieldset>

            <%= form.hidden_field :question_id, value: @question.id %>
            <%= form.hidden_field :quiz_session_id, value: @quiz_session.id if @quiz_session  %>

            <%= form.submit "Submit", class: "btn btn-primary mt-4" %>
          <% end %>
        </div>
      </dl>
    </div>
  </div>
</div>

  <!-- Action buttons -->
<div class="mt-5 flex justify-end">
  <%= link_to 'Edit Question', edit_question_path(@question), class:"btn btn-secondary" %>
  <%= link_to 'Delete Question', question_path(@question), data: { turbo_method: :delete} , class:'btn btn-danger ml-3' %>
</div>

<br>