<%= form_with(model: @quiz, local: true) do |form| %>

  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %> <br>
    <%= form.text_field :title, id: :quiz_title %>
  </div>

  <div class="field">
    <%= form.label :description %> <br>
    <%= form.text_area :description, id: :quiz_description %>
  </div>

  <h3>Questions</h3>
  <%= form.fields_for :questions do |question_form| %>
    <div class="field">
      <%= question_form.label :text %>
      <%= question_form.text_field :text %>

      <%= question_form.hidden_field :_destroy %>
      <%= link_to "Remove Question", '#', class: "remove_fields" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
