<h1><%= @quiz.title %></h1>

<div id="questions">
  <%= turbo_frame_tag "questions_list" do %>
    <%= render @quiz.questions %>
  <% end %>
</div>

<div>
  <%= turbo_frame_tag "new_question" do %>
    <%= render "questions/form", quiz: @quiz %>
  <% end %>
</div>
