<div class="max-w-5xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
  <div class="mb-10">
    <h1 class="text-4xl font-extrabold text-gray-900 mb-1"><%= @quiz.title %></h1>
    <p class="text-lg text-gray-500"><%= @quiz.description %></p>
  </div> 
  <div> 
    <%= link_to 'Start Quiz', new_quiz_quiz_session_path(quiz_id: @quiz.id) %>
  </div> <br>

  <div id="questions" class="mb-8">
    <%= turbo_frame_tag "questions_list" do %>
      <div class="divide-y divide-gray-200">
        <%= render @quiz.questions %>
      </div>
    <% end %>
  </div>

  <div class="mt-10 bg-white p-6 shadow-lg rounded-lg">
    <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">Add a new question</h3>
    <%= turbo_frame_tag "new_question" do %>
      <%= render "questions/question_form", quiz: @quiz %>
    <% end %>
  </div>
</div>
